<style>
    .bold-label {
        font-weight: bold;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .mynav_navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

            .mynav_navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .mynav_dropdown {
            float: left;
            overflow: hidden;
        }

            .mynav_dropdown .dropbtn {
                cursor: pointer;
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn, .mynav_dropbtn:focus {
                background-color: red;
            }

        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .mynav_dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .mynav_dropdown-content a:hover {
                    background-color: #ddd;
                }

        .mynav_show {
            display: block;
        }
    </style>

</head>
<body>
    <div class="mynav_navbar">
        <a href="">Home</a>
        
        <div class="mynav_dropdown">
            <a class="mynav_dropbtn" onclick="toggleDropdown('myDropdown')">
                Transaction
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="mynav_dropdown-content" id="myDropdown">
                @Html.ActionLink("Products", "Index", "Products")
                @Html.ActionLink("Purchases", "Index", "Purchases")
                @Html.ActionLink("Sales", "Index", "Sales")
               
            </div>
        </div>

        <div class="mynav_dropdown">
            <a class="mynav_dropbtn" onclick="toggleDropdown('myDropdown2')">
                Reports
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="mynav_dropdown-content" id="myDropdown2">
                <a href="~/ProductReport.aspx">Product</a>
                <a href="~/PurchaseReport.aspx">Purchase</a>
                <a href="~/SaleReport.aspx">Sale</a>
            </div>
        </div>
    </div>
    <script>
        function toggleDropdown(dropdownId) {
            var dropdowns = document.getElementsByClassName("mynav_dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var dropdown = dropdowns[i];
                if (dropdown.id !== dropdownId) {
                    dropdown.classList.remove('mynav_show');
                }
            }
            document.getElementById(dropdownId).classList.toggle("mynav_show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.mynav_dropbtn')) {
                var dropdowns = document.getElementsByClassName("mynav_dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var dropdown = dropdowns[i];
                    if (dropdown.classList.contains('mynav_show')) {
                        dropdown.classList.remove('mynav_show');
                    }
                }
            }
        };
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>