@model InventoryManager.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sale_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale_qunty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_qunty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })  |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
